* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

nav {
  display: flex;
  width: 100%;
  background: rgb(15, 108, 167);
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
  margin-bottom: 20px;
}
nav .icon {
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
  text-align: center;
  margin-top: 12px;
}
nav ol {
  display: flex;

  list-style: none;
  margin: auto 0;
}

nav ol li {
  margin: 0 2px;
}
nav ol li a {
  color: aliceblue;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 5px 10px;
}
nav .Search_box {
  display: flex;
  margin: 10px;
  height: 30px;
  width: 10px;
  line-height: 30px;
}

main {
  display: flex;
  margin: 0 50px;
}

main > section {
  flex: 1;
}

main > article {
  flex: 1;
}

img {
  width: 100%;
}

.container {
  background-color: white;
  margin: 20px;
}

.container > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
}

.container h1 {
  width: 100%;
}

.container p {
  height: 100px;
}

.container button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: cyan;
  color: white;
}

article {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-width: 1279px) {
  main > section {
    flex: 2;
  }

  main > article {
    flex: 1;
  }

  article {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 800px) {
  .Search_box > input {
    display: none;
  }

  main {
    flex-direction: column;
  }

  main > section {
    flex: none;
  }

  main > article {
    flex: none;
  }

  article {
    grid-template-columns: 50% 50%;
  }
}
